<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Lab08 - BBS Generator</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<ul class="nav justify-content-center mt-4">
    <li class="nav-item">
        <a class="nav-link active" href="/bbs">Генератор BBS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rc4">RC4</a>
    </li>
</ul>
<div class="container w-25">
    <h3 class="text-center mt-4 mb-4">BBS Generator</h3>
    <form class="w-full" id="bbs_form">
        <div class="form-group">
            <label for="seed">Начальное значение (взаимно простое с 589)</label>
            <input type="number" name="seed" class="form-control" required id="seed">
            <small class="form-text text-muted">Рекомендуемые значения: 2, 3, 5, 7, 11</small>
        </div>
        <div class="form-group">
            <label for="length">Длина последовательности битов</label>
            <input type="number" name="length" class="form-control" required id="length">
        </div>
        <button type="submit" class="btn btn-primary">Сгенерировать</button>
    </form>
    <p id="bbsResult" class="mt-4"></p>
</div>
<script type="text/javascript">
    let form = document.getElementById('bbs_form');

    form.onsubmit = async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        let jsonRequestData = {};

        for (let [key, value] of formData) {
            jsonRequestData[key] = value;
        }

        fetch('/bbs', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonRequestData)
        }).then(async (res) => {
            let paragraph = document.getElementById('bbsResult');
            if (res.status === 200) {
                let result = await res.json();
                paragraph.innerHTML = result;
            } else {
                paragraph.innerHTML = "Произошла ошибка"
            }
        })
    }
</script>
</body>
</html>